header{
  height: 100vh;
}

header .nav {
  background-color: #111111;
  box-shadow: 1px 1px 15px #111111;
}

header .text-autora {
  font-size: 35px;
}

header .row-size {
  height: 80vh;
}

header .row-size h1 {
  width: 500px
}

 .progress-bar {
   text-align: left;
   padding-left: 5px;
  
 }

 .progress{
   margin: 10px;
 }

 #sobre, #portfolio{
   height: 100vh;
 }

 

 .foto-4 img, .foto-1 img{
  height: 300px;
  width: 1050px;
}

.foto-2 img, .foto-3 img{
  height: 300px;
  width: 525px;
}

